*{
    box-sizing: border-box;
}

body{
    font-family: 'Merriweather', serif;
    margin: 0 auto;
    color:rgb(135, 138, 138);
    
}

form{
    display: flex;
    flex-direction: column;
   
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.header h2{
    font-size: 1rem;
}

.header h2, p{
    text-align: center;
    margin: 0.25em;
}

.header p{
    margin-bottom: 1.5rem;
    width: 90%;
    font-size: .75rem;
}

.contact{
    margin-top: 1rem;
}

.contact_info{
    margin: 3rem 0 1rem 0;
}


label{
  display: inline-block;
  width: 90%;
}

input,textarea{
    border: white;
    background-color: rgb(236, 236, 236);
}

.contact label{
    margin: 1em 0;
}

input:focus,
textarea:focus,
select:focus{
    outline-color: rgb(128, 210, 235);
}

.contact input, textarea, select{
    width: 100%;
}

select{
    border-color: white;
    background-color:rgb(236,236,236);
    color:rgb(135, 138, 138);
}

.contact input, .contact select{
    height: 2.5rem;
}

fieldset{
    border: 0;
}

legend{
    font-weight: 700;
    color: rgb(58,54,54);
}

h1{
    margin-top: 0;
    background-color: rgb(58, 54, 54);   
    color: white;
    width: 100%;
    text-align: center;
    font-size: 1rem;
    padding: 1.25rem;
    
}

h2{
    color: rgb(58, 54, 54);  
}

.bold{
    
    border: 4px solid rgb(58,54,54);
    width: 90%;
    margin: 0 auto;
}

.regular{
    border: 1px solid rgb(58,54,54);
    width: 90%;
    margin: .25em auto;
    
}

.regular_last{
    border: 1px solid rgb(58,54,54);
    margin: 2rem auto;
}

input[type="number"]{
    width: 50%;
}

.newsletter label{
    margin-bottom: .5em;
}

button{
    background-color:rgb(70, 207, 241);
    color: white;
    font-weight: 700;
    width: 100%;
    padding: 1rem 2rem;
    border: none;
}

label[for="topics"]{
    width: 100%;
    margin: 1rem 0;
    font-size: .90rem;
}

.newsletter p, #newsletter_format p{
    margin: 1rem 0;
    text-align: left;
}

textarea{
    height: 5rem;
    overflow: scroll;
    margin-bottom: 2rem;
}

footer{
    font-style: italic;
    font-size: .75em;
    text-align: center;
    height: 15vh;
}

@media screen and (min-width: 1024px) {
    form{
        max-width: 60%;
    }

    .header{
        height: 25vh;
    }

    .header h2{
        margin-top: 2rem;
    }

    .regular, .bold{
        max-width: 58%;
    }

    .regular_last{
        width: 100%;
    }

    main{ 
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    label{
        max-width: 100%;
    }

    #newsletter_choice, #newsletter_format{
        max-width: 30%;
    }

   



}
